body {
    margin: 0;
    padding: 0;
    background-color: #F1F0F6;
}

header {
    background-color: #F1F0F6;
}

.navbar {
    background-color: #F1F0F6;
}

.navbar ul {
    overflow: auto;
    margin: 0px;
    padding: 0px;

}


.navbar li {
    list-style: none;
    float: left;
    margin-top: 20px;


}

.navbar li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;

}

.navbar li img {
    margin-right: 20px;
}

.navbar h1 {
    text-align: center;
    margin-top: -10px;
    color: #898895;
}

#heading {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 0px;
    place-items: center;
    margin-left: 20px;


}

.grid-child-name {
    margin-right: 20px;
}

.grid {
    color: #898895;
    margin-left: -20px;
}


.main {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #FCFBFB;
    border: #000000;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    flex-direction: column;
}


#search {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

#inputss {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F1F0F6;

}

.form-control {
    width: 100%;
    height: 30px;
    border: 2px solid #F1F0F6;
    border-radius: 14px;
    background-color: #F1F0F6;
    background: url(/img/searchicon.png) no-repeat scroll 98%;
    background-size: 20px 20px;
}

.recyle {
    display: flex;
    width: 100%;
    margin-top: 20px;
   flex-direction: row;
   flex: auto;
}

#img img{
    border-radius:10%;
    margin-left: 30px;
}

#info{
    display:flex;
    height:80px;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: auto;
    text-align: start;
    margin: 0px;

}

#info h4{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: bold;

}
#info h6{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left:20px;
    color: #A0A1C1;
    font-size:10px;
    font-weight: 500;

}
#info p{
    margin-top: 28px;
    margin-bottom: 0px;
    font-size: 12px;
    margin-left:20px;
    color: #6F8CA6;
    font-style: normal;

}

#icons{
    display:flex;
    width: 80px;
    height:80px;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: auto;
    text-align: start;
    margin: 0px;
    gap: 10px;
    margin-top: 20px;
    align-content: flex-start;
    margin-right: 20px;
    justify-content: end;
    gap: 10px;
}

#icons img{
    margin-right: 20px;
}


.recyle2 {
    display: flex;
    width: 100%;
    flex-direction: row;
   flex: auto;
}
.recyle3 {
    display: flex;
    width: 100%;
   flex-direction: row;
   flex: auto;
}
.recyle4 {
    display: flex;
    width: 100%;
   flex-direction: row;
   flex: auto;
}
.recyle5 {
    display: flex;
    width: 100%;
   flex-direction: row;
   flex: auto;
}
.recyle6 {
    display: flex;
    width: 100%;
   flex-direction: row;
   flex: auto;
}
